/* My custom .scss styles */

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.top-bar{
	background: #3b0404;
}

.top-bar-section ul li{
	background: #3b0404;
}

.top-bar-section li.active:not(.has-form) a:not(.button){
	background: #3b0404;
}

.top-bar-section a:hover{
	background: rgba(255, 255, 255, 0.26) !important;
}

#header{
	text-align:center;
	background: #4e0000;
	color: white;
}

#header p{
	margin-bottom: 0px;
}

.slick-next{
    right: 50% !important;
    bottom: !important;
    top: 97% !important;

}

.ent{
	text-align: center;
	color: white;
	background-image: url('../img/back.jpg');
	background-size: cover;
	padding: 3%;
}

.ent h3{
	color: white;
}

.slick-slider{
	margin-bottom: 0px !important;
	border-bottom: 2px white;
}

footer{
	text-align: center;
	background: #3b0404;
	color: white;
}

footer p, iframe{
	margin-top: 10%;
}

#botp{
	margin-top: -10%;
}

.ftp{
	font-size: 1.7em;
}

#topp{
	margin-top: 10%;
}

#tops{
	text-align: center;
	color: white;
	padding-bottom: 3%;
	margin-top: 0px;
}

#gallery img:hover{
	border: 5px solid white;
}

.slick-slide img {
    width: 100%;
}

label{
	font-size: 1.5em;
	color: white;
}

form{
	background-image: url('../img/back.jpg');
	background-size: cover;
}

.button {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
    background: white;
    color: #4e0000;
    font-size: 1.3em;
}

.button:active{
	background: white;
    color: #4e0000;
}

























